.sidebar-chat{
    width: 20%;
    height: 100vh;
}

.content-chat{
    width: 80%;
    height: 100vh;
}
.border-secondary{
    border-color: #DCDFE4 !important;
    box-shadow: 10px 0 5px -12px #888;
}