<div class="px-4">
    <div class="">
        <h4 class="fw-bolder pt-3">List friend</h4>
    </div>
    <div class="search-outer mt-4 d-flex">
        <input type="text" class="form-control py-2" placeholder="Search">
        <i class="far fa-search"></i>
    </div>
    <div class="mt-4">
        <div class="d-flex justify-content-between">
            <p class="text-secondary">Request friends</p>
            <a class="text-decoration-none" (click)="openModalRequest($event)">Show all</a>
        </div>
    </div>
    <div>
        <ul class="p-0">
            <li *ngFor="let user of listRequestFriends.slice(0, 2)" class="bg-light p-3 my-2 list-unstyled rounded-3">
                <div class="d-flex">
                    <div class="avatar-image">
                        <img src="{{user?.fromUser?.avatarUrl}}" alt="" width="50" height="50" class="rounded-circle">
                    </div>
                    <div class="ms-3">
                        <p class="m-0">{{user?.fromUser?.account?.username}}</p>
                    </div>
                    <div class="d-flex justify-content-end flex-grow-1 align-items-center">
                        <i class="fa-regular fa-square-check icon-accept" (click)="acceptRequest(user)"></i>
                        <i class="fa-solid fa-rectangle-xmark ms-2 icon-remove text-danger" (click)="rejectRequest(user)"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="mt-4">
        <p class="text-secondary">All friends</p>
    </div>
    <div>
        <ul class="p-0 list-friend">
            <li *ngFor="let user of listFriends" class="bg-light p-3 my-2 list-unstyled rounded-4" (click)="selectFriend(user)">
                <div>
                    <div class="d-flex">
                        <div class="avatar-image">
                            <img src="{{user?.friend?.avatarUrl}}" alt="" width="50" height="50" class="rounded-circle">
                        </div>
                        <div class="ms-3 my-auto">
                            <p class="">{{user?.friend?.fullname}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>