.search-outer {
    position: relative;

    & input {
        background: #E9F2FF;
        border: none;
        border-radius: 10 px;
    }

    & i {
        position: absolute;
        right: 20px;
        top: 10px;
        color: #4991F9;
    }
}

.card-chat-avatar{
    position: relative;
    & .online-status{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #00C851;
    }
}

.card-chat{
    border: 1px solid var(--gradient-start);
    border-radius: 15px;
}

.card-chat:hover{
    background: linear-gradient(to bottom right, var(--gradient-start) 30%,var(--gradient-end) 100%) !important;
    color:#E5EFFD !important;
}

.active{
    background: linear-gradient(to bottom right, var(--gradient-start) 30%,var(--gradient-end) 100%) !important;
    color:#E5EFFD !important;
}

.message-unsend-number{
    width: 20px;
    height: 20px;
    font-size: 0.9em;
    color: var(--white);
}

.text-one-line{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // width: 150px;
}

::-webkit-input-placeholder {
    color: #4991F9;
}

:-ms-input-placeholder {
    color: #4991F9;
}

::placeholder {
    color: #4991F9;
}

.icon-accept {
    font-size: 1.5rem;
    color: #00C851;
}
.icon-accept:hover {
    font-weight: bolder !important;
}
.icon-remove {
    font-size: 1.5rem;
}
.icon-remove:hover {
    opacity: 0.7;
}

.list-friend {
    height: 55vh;
    overflow-y: auto;
}